.add-event form {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: auto;
}
.add-event form input,
textarea {
  margin-bottom: 10px;
  margin-top: 10px;
  border-style: none;
  border-color: crimson;
}
